$beige: #FCFFF7;
$teal: #0E7C7B;
$teal--light: #17BEBB;
$yellow: #F8E71C;
$red: #D62246;

$page-head__background: $teal;
$page-head__title: $beige;
$page-head__border-bottom: $red;

$body__background: $beige;
