[class^="container--"], [class*=" container--"] {
    box-sizing:  border-box;
    margin: 0 auto;
    padding-left: $line-height-base * 0.5;
    padding-right: $line-height-base * 0.5
}

.container {
    &--max-width-break-2 {
        @include breakpoint(break-2) {
            max-width: #{map-get($breakpoints, break-2)};
        }
    }

    &--max-width-break-3 {
        @include breakpoint(break-3) {
            max-width: #{map-get($breakpoints, break-3)};
        }
    }
}
