.page-head {
    background: $page-head__background;
    box-sizing: border-box;
    display: block;
    border-top: $line-height-base solid $teal;
    border-bottom: #{$line-height-base * 0.5} solid $page-head__border-bottom;

    &__title {
        margin: 0;
        font-family: 'Rubik', sans-serif;
        color: $page-head__title;
        @include vertical-rhythm(2.5rem, 1, 0.5);

        @include breakpoint('break-2') {
            @include vertical-rhythm(3.6rem, 1, 0);
        }

    }

    &__logo {
        max-width: 8rem;
        height: auto;
        box-sizing: border-box;

        @include breakpoint('break-2') {
            padding: $line-height-base;
            max-width: 100%;
        }
    }
}
